<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body text-center">

                <img *ngIf="!imagenTemp" [src]="'xxx' | imagen" class="w150" />
                <img *ngIf="imagenTemp" [src]="imagenTemp" class="w150" />
                <br>
                <input #inputFile (change)="seleccioneImagen( $event.target.files[0] )" type="file" />
            </div>
            <div class="modal-footer">
                <button [disabled]="!imagenTemp" (click)="subirImagen()" type="button" class="btn btn-primary">Subir imagen</button>
                <button #closebutton (click)="limpiarValores()" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<!--OPCION DE FERNANDO LO HIZO CON CLASES CC LA FUNCIONALIDAD DE LA SOMBRA DEL MODAL-->
<!--<div class="fondo_negro animated fadeIn" [ngClass]="oculto">
    <div class="modal" style="display: block" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button (click)="oculto='oculto'" type="button" class="close">
            <span aria-hidden="true">x</span>
          </button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button (click)="oculto='oculto'" type="button" class="btn btn-secondary">Cerrar</button>

                </div>
            </div>
        </div>
    </div>
</div>-->