<h3>
    {{leyenda}}
</h3>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <button class="btn btn-primary" type="button" id="button-addon1" (click)="cambiaValor(+5);">
        <i class="mdi mdi-plus">

        </i>
    </button>
    </div>
    <input type="number" #txtProgress class="form-control" name="progreso1" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" [(ngModel)]="progreso" (ngModelChange)="onChanges($event)" min="1" max="100">
    <div class="input-group-prepend">
        <button class="btn btn-primary" type="button" id="button-addon2" (click)="cambiaValor(-5);">
            <i class="mdi mdi-minus">
            </i>
            </button>
    </div>
</div>